
<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">CR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
          <li class="nav-item active">
            <a   class="btn" style="color: white" *ngIf="!auth.isAuthenticated()"
            (click)="auth.login()">LogIn </a>
          </li>
        </ul>
        <!-- <ul class="navbar-nav navbar-right">
          <li class="nav-item active">
            <a class="nav-link" routerLink="profile">Profile </a>
          </li>
        </ul> -->

        <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
              <a class="btn" style="color: white"  *ngIf="auth.isAuthenticated()"
              (click)="auth.logout()">LogOut </a>
            </li>
          </ul>
        
    </div>
  </nav>

  <div style="color:rgba(0, 0, 0, 0.541);" class="container">

      <router-outlet></router-outlet>

  </div><!-- /.container -->